.resim{
border: 5px solid white ;
width: 100%;

}

body{
    background-color: #000000;
}
.poster{
    width: 50%;
    margin-left: 25%;
    margin-top:100px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    color: white;

}
h1{
    font-size: 1rem;
    text-transform: uppercase;
}

.second{
    width: 100%;
    
}

.not2{
    width:100%;
    border: 1px solid rgb(107, 104, 104);
    
    
}
.not{
    width: 100%;
    border: 1px solid rgb(107, 104, 104);
    
}
